* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Varables in CSS*/
:root {
    --default-button-1: #4D96A9;
    --hover-button-1: #8FE3F9;
    --default-button-2: #855FB1;
    --hover-button-2: #D9B8FF;
}

.body {
    font-family: 'Red Hat Display', sans-serif;
}


header {
    padding: 20px;
    display: flex;
    justify-content: center;
}

header img {
    width: 90px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.left-hero {
    background-image: url(./assets/desktop/image-hero-left.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -2em;
    order: 1;
    flex: 1;    
    max-width: 300px;
    min-width: 100px;
}

.right-hero {

    background-image: url(./assets/desktop/image-hero-right.png);
    background-repeat: no-repeat;
    background-size: contain;
    flex: 1;
    order: 2;
    max-width: 300px;
    min-width: 100px;
    min-height: 200px;
    background-position: 2em;
}


.middle-hero { 
    order: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.middle-hero h1 {
    font-weight: 900;
    font-size: 2.8em;
    margin: 10px 40px;
    line-height: 44px;
}

.middle-hero p {
    font-weight: 500;
    font-size: 1em;
    line-height: 1.2em;
    padding: 25px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.button {
    width: 190px;
    height: 50px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: white;
    text-decoration: none;
}

#button-1 {
    background-color: var(--default-button-1);
   

}
#button-1:hover {
    background-color: var(--hover-button-1)
}

#button-2 {
    margin: 10px;
    background-color: var(--default-button-2);
    z-index: 1;
}

#button-2:hover {
    background-color: var(--hover-button-2)
}

.numbers::before {
    content: " ";
    background-color: #eeeeee;
    width: 2px;
    height: 85px;
    position: absolute;
    top: -85px;
}

.numbers {
    position: relative;
    display: flex;
    color: #87879D;
    justify-content: center;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
}

.num-1 {
    margin-bottom: 20px;
}

.numbers span {
    border: 1px solid #87879D;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}

.information-text {
    text-align: center;
    padding-bottom: 120px;
}

#green_text {
    color: var(--default-button-1);
    font-weight: 900;
    font-size: 1.4em;
    line-height: 26px;  
}

.information-text h2 {
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
}

.information-text p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #87879D;
}

.numbers.num-2 {
    top: 25px;
    z-index: 1;
}

footer::before {
    content: ""; 
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(77, 150, 169, 0.7);
}
.portfolio {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio img {
    padding: 5px;
    width: 151px;
    height: 143px;
    border-radius: 25px;

}
footer {
    position: relative;
    background-image: url(./assets/mobile/image-footer.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 60px 30px;
    color: white;
    text-align: center;

}

.position {
    z-index: 1;
}

footer h2 {
    font-weight: 900;
    font-size: 2.1em;
    line-height: 36px;
}

footer p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

@media only screen and (min-width: 630px) and (max-width: 1237px) {
    
   
    .left-hero {
        max-width: 800px;
        min-width: 300px;
        max-height: 600px;
        min-height: 400px;
        background-size: contain;
        background-position: -70px;

    }
    .right-hero {
        max-width: 800px;
        min-width: 300px;
        max-height: 600px;
        min-height: 400px;
        background-size: contain;
        background-position: 70px;
    }
    .middle-hero {
        width: 100%;
        margin-left: 160px;
        margin-right: 160px;

    }
    .middle-hero h1 {
        font-size: 3.5em;
        line-height: 1em;

        
    }
    .middle-hero p {
        font-size: 1.2em;
    }
    .buttons {
        flex-direction: row;
        justify-content: center;
    }

    .portfolio img { 
        width: 165px;
        height: 160px;
    }

    .information-text {
        margin-right: 160px;
        margin-left: 160px;

    }
    .information-text p {
        font-size: 1.1em;
    }
    footer {
        padding-right: 160px;
        padding-left: 160px;
        background-image: url(./assets/tablet/image-footer.jpg);

    }

}
@media only screen and (min-width: 1238px) {
    .hero {
        max-height: 400px;
    }
    .middle-hero { 
        order: 1;
        flex: 1.5;
        margin-left: 3em;
        margin-right: 3em;
    }
    .left-hero {
        min-width: 350px;
        max-width: 500px;
        max-height: none;
        min-height: 300px;
        order: 1;
        flex: 1;
        background-position: -4em;

    }
    .right-hero {
        min-width: 350px;
        max-width: 500px;
        max-height: none;
        min-height: 300px;
        order: 3;
        flex: 1;
        background-position: 6em;


    }
    footer::before {
        top: 0px;
    }
    .buttons {
        flex-direction: row;
        justify-content: center;
    }
    .portfolio img { 
        width: 255px;
        height: 240px;
    }
    footer {
        background-image: url(./assets/desktop/image-footer.jpg);
        background-size: cover;
        background-repeat: none;
        background-position: 100%;
        flex-direction: row;
        text-align: left;
        height: 300px;
        padding: 50px 100px;
    }
}